<a href="https://colab.research.google.com/github/MuhammadHammad02/Python/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World");
print(5)

Hello World
5

In [ ]:
a = 50;
b = 3;

print("The value of", a , " + ", 3, "is: ", a + b );
print("The value of", a , " + ", 3, "is: ", a - b);
print("The value of", a , " + ", 3, "is: ", a * b );
print("The value of", a , " + ", 3,  "is: ", a // b);

The value of 50  +  3 is:  53
The value of 50  +  3 is:  47
The value of 50  +  3 is:  150
The value of 50  +  3 is:  16

In [ ]:
a = "1";
b = "2";

print(int(a) + int(b));
print(a + b);

3
12

In [ ]:
a = input("Enter your name: ");
print(a);
a = input("Enter your name: ");
print("My name is: ", a)

Enter your name: Hammad
Hammad
Enter your name: Hammad
My name is:  Hammad

In [ ]:
a = "Harry!!!!!!!!! !!!!!!!!! Harry!!!"
print(len(a))
print(a)
print(a.upper());
print(a.lower());
print(a.rstrip("!"));
print(a.replace("Harry", "Hammad"));
print(a.split(" "))
blogHeading = "introduction to js;"
print(blogHeading.capitalize())
str1 = "Welcome to console!!!"
print(len(str1))
print(len(str1.center(50)))
print(a.count("Harry"))

33
Harry!!!!!!!!! !!!!!!!!! Harry!!!
HARRY!!!!!!!!! !!!!!!!!! HARRY!!!
harry!!!!!!!!! !!!!!!!!! harry!!!
Harry!!!!!!!!! !!!!!!!!! Harry
Hammad!!!!!!!!! !!!!!!!!! Hammad!!!
['Harry!!!!!!!!!', '!!!!!!!!!', 'Harry!!!']
Introduction to js;
21
50
2

In [ ]:
name = "Hammad";
f_name = "Hikmat";
age = 33;
course = "AI";
result = "Name: "+ name +"\n Father's Name: "+ f_name +"\n Age: "+ str(age) +"\n Course: "+ course +""
print(result)

Name: Hammad
 Father's Name: Hikmat
 Age: 33
 Course: AI